.hero{

    width:80%;
    margin:auto;
    margin-top:70px;

    text-align:center;
}

.hero h1{

    font-size:48px;
    color:#0f172a;
}

.hero p{

    color:gray;
    margin-top:15px;
    font-size:20px;
}

.search-box{

    margin-top:40px;

    display:flex;
    justify-content:center;
    gap:20px;
}

.search-box input{

    width:600px;

    padding:18px;

    font-size:18px;

    border-radius:10px;

    border:2px solid #ddd;
}

.search-box button{

    padding:18px 35px;

    border:none;

    background:#38bdf8;

    color:white;

    border-radius:10px;

    cursor:pointer;

    font-size:18px;
}